* {
    box-sizing: border-box;
    font-size: 0px;
}

#lightPink{
    border: 5px solid white;
    background-color: #F5C6D6;
    height: 100px;
}

#fourBox{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.pink{
    border: 5px solid white;
    background-color: #EE2E84;
    height: 100px;
}

#thirdLevel{
    display: grid;
    grid-template-columns: 50% 50%;
}

.blue{
    border: 5px solid white;
    background-color: #85CFD8;
    height: 100px;
}

#fourthLevel{
    display: grid;
    grid-template-columns: 75% 25%;
}

#green{
    border: 5px solid white;
    background-color: #8DC63F;
    height: 100px;
}

#orange{
    border: 5px solid white;
    background-color: #E76E34;
    height: 100px;
}

@media only screen and (max-width: 768px){
    #fourBox{
        display: block;
    }
    

    #thirdLevel{
        display: block;
    }

    #fourthLevel{
        display: block;
    }
}

