

body{
    background-image: url(https://cdn.99images.com/photos/wallpapers/tv-shows/adventure-time%20android-iphone-desktop-hd-backgrounds-wallpapers-1080p-4k-99ank.jpg);
    font-family: 'MedievalSharp', cursive;
}

h1{
    text-align: left;
    font-size: 50px;
    color: #FC7958;
}

#navBar{
    text-align: left;
    font-size: 20px;
}

h4{
    text-align: center;
}

#aboutPar{
    font-size: 20px;
    text-align: center;
}

h4{
    text-align: center;
}